@import "../../../styles/settings.scss";

.root {
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    transform: translateY(8px);

    li {
      display: inline-block;
      margin-left: 0.5rem;

      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: $new-fur-inactive-dot;
        font-size: 0;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: $new-fur-active-dot;
          @extend %hover;
        }
      }
      &:first-of-type {
        padding-left: 1rem;
      }
    }
  }
}
