@import "../../../styles/settings.scss";

.root {
  .banner {
    background-color: rgb(221,17,17); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }
  
  .filters {
    background-color: rgb(149,103,221); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }
  .banner{
    background-color: rgb(221, 17, 17); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }

  .filters{
    background-color: white;
  }
  .brands{
    background-color: rgb(211, 230, 130); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }
  .productList{
    background-color: rgb(20, 128, 77); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }
  .brands {
    background-color: rgb(211,230,130); //Dodany tylko w celach podgladowych (do usunięcia podczas dalszej pracy z plikiem)
  }
}
