@import "../../../styles/settings.scss";

// .root {
// }
//asd
.main {
  background-color: $button-background-nohover;
  color: $button-color-nohover;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-color-hover !important;
    background-color: $button-background-hover;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-border-color-nohover;
  color: $button-font-color-nohover;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-background-color-hover;
    color: $button-font-color-hover;
  }
}
