@import "../../../styles/settings.scss";

.main {
  background-color: $button-background-nohover;
  color: $button-color-nohover;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-color-hover !important;
    background-color: $button-background-hover;
    text-decoration: none;
    @extend %hover;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-border-color-nohover;
  color: $button-font-color-nohover;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-background-color-hover;
    color: $button-font-color-hover;
    @extend %hover;

  }
}

.long {
  @extend .main;
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 5px 0;
  font-weight: 400;
}

.big {
  @extend .main;
  font-size: 20px;
  line-height: 30px;
  padding: 8px 30px;
  font-weight: 500;
  background-color: $button-backgound-big;
  color: $button-color-big;
}

//ProductPage

.sideArrows {
  @extend .outline;
  background-color: #ffffff;
  color: $mine-shaft-light;
  border-color: $mine-shaft-light;

  &:not(.noHover):hover {
    background-color: $primary;
    color: $button-color-nohover;
    border-color: $mine-shaft-light;
  }
}

.basket {
  @extend .outline;
  background-color: $brandy-punch;
  color: #ffffff;
  border-color: $mine-shaft-light;

  &:not(.noHover):hover {
    border-color: $brandy-punch;
  }
}

.quantityChange {
  @extend .sideArrows;

  &:last-of-type {
    border-color: $brandy-punch;
    font-size: 20px;
  }

  &:not(.noHover):hover {
    background-color: $button-color-nohover;
    color: $darkGray;
    border-color: $mine-shaft-light;
  }
}

.facebook {
  @extend .basket;
  background-color: blue;
  color: #ffffff;
  border-color: $mine-shaft-light;

  &:not(.noHover):hover {
    background-color: $button-color-nohover;
    color: $text-color;
    border-color: $text-color;
  }
}

.google {
  @extend .sideArrows;

  &:not(.noHover):hover {
    background-color: $button-color-nohover;
    border-color: $mine-shaft-light;
  }
}

.tweet {
  @extend .sideArrows;

  &:not(.noHover):hover {
    background-color: $button-color-nohover;
    border-color: $mine-shaft-light;
  }
}

.pinterest {
  @extend .sideArrows;

  &:not(.noHover):hover {
    background-color: $button-color-nohover;
    border-color: $mine-shaft-light;
  }
}

.linkedin {
  @extend .sideArrows;

  &:not(.noHover):hover {
    background-color: $button-color-nohover;
    border-color: $mine-shaft-light;
  }
}

//brandsSliderComponent
.carousel {
  @extend .main;
  align-items: center;
  padding: 35px 10px;
  line-height: 120px;
}

.blog {
  @extend .main;
  font-size: 20px;
  line-height: 30px;
  padding: 8px 30px;
  font-weight: 500;
  @extend %hover;
}
