@import "../../../styles/settings.scss";

.root {
  width: 100%;
  margin-left: 25px;
  padding: 3rem 0 4rem 0;

  .sliderWrapper {
    padding: 2rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
