@import "../../../styles/settings.scss";

#rowCompanyClaim {
  justify-content: flex-end;
  padding: 1rem 0;
}

.root {
  background-color: $header-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 14px;
      line-height: 42px;
      color: $phone-number-font-color;
      font-weight: 500;
      text-align: right;

      .icon {
        font-size: 32px;
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: $cart-icon-color;

      .cartIcon {
        background-color: $cart-icon-background;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        //width: 28px;
        height: 27px;
        border-radius: 14px;
        background-color: $header-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $cart-counter-font;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        padding: 0 10px;
        margin-left: 35px;

        @media (max-width: 576px) {
          top: unset;
          transform: translate(50%, -50%);
          right: 50%;
        }
      }

      &:hover {
        .cartIcon {
          background-color: lighten($primary, $onhover-background-lighten-percentage);
          @extend %hover;

        }
      }
    }
  }
}

@media (min-width: 768px) {
  #rowCompanyClaim {
    align-items: center;
  }

  .root .phoneNumber {
    order: -1;
    p {
      font-size: 17px;
      text-align: left;
    }
  }
}
