@import "../../../styles//settings.scss";

.root{
  padding-top: 40px;
  .left{
    .photo {
      position: relative;

      .button {
        .timer {
          position: absolute;
          padding: 0 50px;
          margin-top: 80px;
          height: 60px;
          width: 100%;
          z-index: 90;
          background-color: transparent;
          opacity: 90%;

         .timerItem {
          display: block;
          margin: 0;
          height: 60px;
          text-align: center;
          color: $timer-font-color;
          border-radius: 50%;
          background-color: $timer-backgorund;

            .number {
              margin: 7px 0 0;
              font-size: 28px;
              line-height: 1;
            }

            .unit {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
