@import "../../../styles/settings.scss";

#rowCompanyClaim {
  justify-content: flex-end;
  padding: 1rem 0;
}

.root {
  background-color: #ffffff;
  margin-top: 60px;

  .blueButton {
    background-color: #13aff0;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: inherit;
  }

  .proceedButton {
    width: 100%;
  }

  .containerWrapper {
    max-width: 100%;
    border-top: 2px solid #f5f5f5;
  }

  .containerWrapper:nth-of-type(2) {
    background-color: #f5f5f5;
  }

  .containerWrapper:nth-of-type(3) {
    margin-top: 40px;
  }

  .row {
    padding: 15px 15px;
    font-size: 1.4rem;

    p {
      margin: 0 0;
    }
  }

  .rowsecond {
    padding: 25px 15px;
  }

  .priceTag {
    color: #a0dcb7;
  }

  .quantity {
    background: transparent;
    border-radius: 3px;
    border: 2px solid palevioletred;
    color: palevioletred;
    // margin: 0 1em;
    padding: 0.45rem 0.75rem;
    text-decoration: none;
    font-family: monospace;
  }

  .formSummary {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 010px 10px;
    .inputs {
      width: 150px;
      margin: 0 0.5rem;
      height: 2rem;
    }

    .proceedButton {
      color: black;
    }

    .updateCart {
      margin-left: auto;
    }
  }
}
