@import "../../../styles/settings.scss";

.photo {
  border-radius: 3px;
  position: relative;
  height: 80px;
  height: calc(var(--vh, 1vh) * 10);
  margin: 0 auto;
  padding: 0;
    background: {
    color: $product-box-photo-background;
    size: contain;
    position: center;
    repeat: no-repeat;
  }
  overflow: hidden;
  align-items: flex-end;
  width: 100%;

  .iconContainer {
    position: absolute;
    top: 0%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    color: $text-color;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .iconContainer, img {
    transition: $transition;
  }

  &:hover {
    .iconContainer {
      top: 50%;
      opacity: 1;
    }
    img {
      opacity: 0.8;
    }
  }
}
