@import "../../../styles//settings.scss";

.root{
  padding-top: 40px;
  .left{
    .topper{
      background-color: $topper-background;
      height: 50px;
      
      .hotDeals{
        padding-top: 10px;
        font-size: 20px;
        font-weight: 00;
        color: $hotDeals-font-color;
      }

      .dots {
        position: absolute;
        right: 0;
        top: 0;
  
  
        ul {
          margin: 0;
          padding: 0 0 0 1rem;
          list-style: none;
          transform: translateY(15px);
  
          li {
            display: inline-block;
            margin-left: 0.5rem;
  
            a {
              display: block;
              width: 13px;
              height: 13px;
              border-radius: 6px;
              background-color: $new-fur-inactive-dot;
              font-size: 0;
  
              &.active,
              &:hover {
                background-color: $new-fur-active-dot;
              }
            }
          }
        }
      }
    }


    .photo {
      position: relative;
      height: 300px;
      margin: 0 auto;
      padding: 0;
      background: {
        color: $product-box-photo-background;
        size: contain;
        position: center;
        repeat: no-repeat;
      }
      overflow: hidden;
      align-items: flex-end;
      width: auto;
      max-width: 600px;
  
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .button {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-content: center;
        text-align: center;
        visibility: hidden;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 40px;
        padding: 1px 5px;
  
        
        .timer {
          position: absolute;
          padding: 0 50px;
          margin-top: 80px;
          height: 60px;
          width: 100%;
          z-index: 90;
          background-color: transparent;
          opacity: 90%;
    
         .timerItem {
          display: block;
          margin: 0;
          height: 60px;
          text-align: center;
          color: $timer-font-color;
          border-radius: 50%;
          background-color: $timer-backgorund;
    
            .number {
              margin: 7px 0 0;
              font-size: 28px;
              line-height: 1;
            }
    
            .unit {
              font-size: 12px;
            }
          }
        }
      }
      &:hover {
        .button{
          visibility: visible;
          z-index: 2;
        }
      }
    }
    .content {
      text-align: center;
      padding: 20px;
      z-index: 1;
  
      h5 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }
  
      .stars {
        a {
          text-decoration: none;
          color: $stars-color;
        }
      }
    }
  
    .line {
      margin: 0 10px;
      border-bottom: 1px solid $under-stars-line-color;
      position: relative;
  
      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 30px;
        border-bottom: 4px solid $under-stars-thick-line-color;
        transform: translateX(-50%);
      }
    }

    .actions {
      padding: 15px 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .oldPrice {
        color: $old-price-color;
        font-weight: normal;
        font-size: 16px;
        text-decoration: line-through $old-price-text-decoration;
        padding-right: 6px;
      }
      
      .newPrice{
        font-size: 18px;
      }
      
      &:hover {
        .price .button {
          font-weight: bold;
        }
      
        .price {
          .newPrice {
            background-color: $hover-price-color;
          }
        }
      }
    } 
  }

  .right{
    max-width: 750px;
    max-height: 500px;
    padding: 0;
      .imgWrapper{
      position: relative;
      margin: 0 auto;
      padding: 0;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .shadowWrapper {
      position: absolute;
      height: 200px;
      width: 100%;
      top: 100px;
      opacity: 50%;
      z-index: 90;
      background-color: $footer-claim-bg;
    }
    .shadowTitle {
      position: absolute;
      text-align: center;
      width: 100%;
      top: 150px;
      opacity: 50%;
      z-index: 90;
      color: $shadow-title-color;
      font-size: 50px;
      opacity: 1;
      span {
        font-weight: 700;
      }
    }
    .shadowSubtitle {
      position: absolute;
      text-align: center;
      width: 100%;
      top: 60px;
      z-index: 90;
      color: $shadow-subtitle-color;
      font-size: 20px;
    }
    .shadowButtonsWrapper {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 0px;
      z-index: 90;
      overflow: hidden;

      .buttonLong {
        background-color: $button-long-background;
        width: 50%;

        a{
          font-size: 30px;
        }
      }
    }

    .centerButton {
      position: absolute;
      text-align: center;
      padding: 0;
      width: 100%;
      bottom: 190px;
      z-index: 100;
    }
  }
}