@import "../../../styles//settings.scss";

.root {
  padding-top: 40px;
  .left {
    .sliderdots {
      position: absolute;
      right: 10px;
      top: -56px;
      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        transform: translateY(15px);
        li {
          display: inline-block;
          margin-left: 0.5rem;
          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $new-fur-inactive-dot;
            font-size: 0;
            cursor: pointer;

            &.active,
            &:hover {
              background-color: $new-fur-active-dot;
            }
          }
          &.activeDot a {
            background-color: $new-fur-active-dot;
          }
        }
      }
    }
  }

  .right {
    // max-width: 750px;
    padding: 0;
  }
}
