@import "../../../styles/settings.scss";

.root {
  padding: $base-padding;
  height: 600px;
  margin-bottom: 150px;

  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $lastest-blog-border;
    }

    .heading {
      position: relative;
      width: 92%;

      h3 {
        color: $lastest-blog-header;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $lastest-blog-underscore;
      }
    }
    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $lastest-blog-background;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $lastest-blog-inactive-dot;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $lastest-blog-active-dot;
              @extend %hover;
            }
          }
        }
      }
    }
  }

  .blogPhoto {
    // min-height: 300px;
    height: max-content;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .blogArticle {
    position: absolute;
    width: 80%;
    height: 100px;
    background-color: $lastest-blog-background;
    // margin: -60px 20px 0 20px;
    padding-top: 20px;

    .comment {
      padding: 0;
    }

    span {
      padding-left: 10px;
    }

    svg {
      font-size: 18px;
    }

    .articleTitle {
      text-align: left;
      padding-top: 20px;

      h3 {
        font-size: 22px;
        font-weight: 600;
        color: $lastest-blog-title;
      }
    }

    .articleDescription {
      text-align: left;
      //padding-top: 10px;
      span {
        padding-left: 0;
        font-size: 18px;
        font-weight: 300;
      }
    }

    .articleButton {
      margin-top: 25px;
    }
  }
}
