@import "../../../styles/settings.scss";

.root {
  margin: 20px 0;

  .byColor{
    h4 {
      border-bottom: 2px solid $darkGray;
      padding-bottom: 10px;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
    }


    .colorLine {
      margin: 0 0 7px 0;

      .category{
        padding-left: 10px;
        font-size: 17px;
      }

      .red{
        width: 20px;
        height: 20px;
        background-color: #ff0000;
        border-radius: 20%;
        margin-left: 5px;
      }

      .black{
        width: 20px;
        height: 20px;
        background-color: #000000;
        border-radius: 20%;
        margin-left: 5px;
      }

      .yellow{
        width: 20px;
        height: 20px;
        background-color: #f1c40f;
        border-radius: 20%;
        margin-left: 5px;
      }

      .blue{
        width: 20px;
        height: 20px;
        background-color: #3498db;
        border-radius: 20%;
        margin-left: 5px;
      }

      .pink{
        width: 20px;
        height: 20px;
        background-color: #f78fb3;
        border-radius: 20%;
        margin-left: 5px;
      }

      .green{
        width: 20px;
        height: 20px;
        background-color: #008000;
        border-radius: 20%;
        margin-left: 5px;
      }
    }

    .active {
      padding-left: 20px;
      font-weight: 500;
      color: $brandy-punch;
    }
  }
}