@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 230px;
    cursor: pointer;

    .icon:first-child {
      color: $primary;
    }

    .dropdown {
      position: relative;

      .dropdownContainer {
        color: $primary;
        text-transform: capitalize;
      }

      .dropdownContent {
        display: none;
        position: absolute;
        top: 34px;
        background: white;
        width: 170px;
        z-index: 1;
        border: 1px solid $form-border-color;
      }

      .dropdownContent li {
        color: $primary;
        padding: 12px 10px;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
      }

      .dropdownContent li ul {
        display: none;
      }

      .dropdownContent li:hover ul {
        display: block;
      }

      .dropdownContent li:hover {
        background: $primary;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .category:hover {
    .dropdownContent {
      display: block;
    }
    .dropdownContainer {
      font-weight: bolder;
      z-index: 1;
      font-size: 14px;
    }

    select:hover {
      @extend %hover;
      color: $primary;
    }

    select:focus {
      outline: none;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      flex: 1;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }
    & a {
      margin: auto 15px;
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
@media (max-width: 576px) {
  .root {
    border: 0;
    display: flex;
    flex-direction: column;
    .category {
      border: 0;

      select{
        border: 1px solid $form-border-color;
      }
      .icon:last-child {
        position: relative;
        padding-right: 5px;
      }
    }
    .searchField{
      padding-top: 20px;
    }
  }
}
