@import "../../../styles/settings.scss";

.root {
  .fadeIn {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }

  .fadeOut {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
}

