@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;

  .rowOfFeatureBoxes {
    padding: 0 10px;
  }
  .featureCol {
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    a {
      flex: 1 1;
    }
  }
}
