@import "../../../styles//settings.scss";

.NavBar {
  background-color: $navbar-backgroung;

  div {
    padding-right: 10px;
    padding-top: 20px;
    font-size: 16px;
    a,
    NavLink {
      color: $navbar-link;
    }

    a.active,
    NavLink {
      font-weight: 500;
      color: $navbar-active-link;
    }
  }

  div:first-child {
    padding-left: 20px;
  }
}
