@import "../../../styles/settings.scss";

.root {
  .footerMenu {
    background-color: $footer-bg;
    padding: 3rem 0;



    .menuWrapper {
      h6 {
        color: $footer-header-font-color;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: $footer-link-font-color-nohover;

            &:hover {
              color: $footer-link-font-color-hover;
              @extend %hover;
            }
          }
        }
      }
    }

    .paymentMethods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottomBar {
    background-color: $footer-claim-bg;

    :global(.container) > :global(.row) {
      height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: $copyright;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .socialMedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: $social-media-icons-nohover;
            text-decoration: none;

            &:hover {
              color: $social-media-icons-hover;
              @extend %hover;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .bottomBar{
      .copyright{
        left: -250px;
      }
    }
  }

  @media (max-width: 426px) {

    .bottomBar{
      display: block;
      .copyright{
        flex-basis: content;
        left: 0;      }
      .socialMedia{
        ul{
          text-align: center;
        }
      }
    }

  }

  @media (max-width: 376px) {
    .footerMenu {
      .menuWrapper {
        padding: 40px;
        text-align: center;
      }
      img{
        display: block;
        margin: 0 auto;
      }
    }
    .bottomBar{
      display: block;
      .copyright{
        flex-basis: content;
        left: 0;
      }
      .socialMedia{
        ul{
          text-align: center;
        }
      }
    }
  }

}
